<!DOCTYPE html>
<html lang="en">
	<%- include('templates/header.ejs') %>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
				<div id="home" class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Rocket Elevator">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/custom/AdobeStock_33298664.jpeg"  alt="Rocket Elevators Slider Img Main"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="471"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Rocket Elevators
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="530"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Elevating business around the world, <br />
									one company at a time.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="530"
								data-y="290" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-warning myBlue btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="530"
								data-y="370" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-default btn-lg get-quote" href="quote">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/custom/AdobeStock_122227340.jpeg" alt="Rocket Elevators Slider Img Residential"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Discover our new<br />
									breakthrough residential expansion.
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Follow us as we break through to a new and exciting field, <br />
									as Rocket Elevators continues to expand into residential.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-warning btn-lg myRed" href="residential">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporation">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/custom/AdobeStock_53477661.jpeg" alt="Rocket Elevators Slider Img Commercial"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Continuing to dominate in the <br />
									corporate world
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Rocket Elevators is the leading business in corporate , <br />
									offices and technologies.  Click below to see more.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-warning myBlue btn-lg" href="commercial">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convince you? 
					<strong style="padding: 18px">Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover lightbox" href="https://vimeo.com/303920316" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
									<i class="fa fa-vimeo-square"><!-- video icon --></i>
								</span>
								<img class="img-fluid" src="assets/images/awards/manyAwards.jpg" alt="Awards with LENS FLAAARE" />
							</a>

							<h3 class="mt-10">Numerous Awards</h3>
							<p>Rocket Elevators has won numerous awards, and is currently working on many projects, all unique and exciting.  Please take a look at all we have to offer down below.</p>
							<a href="#portfolio" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover lightbox" href="https://www.youtube.com/watch?v=0uE8UIdGIIM" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
									<i class="fa fa-youtube-square"><!-- video icon --></i>
								</span>
								<img class="img-fluid" src="assets/images/custom/residentBuilding.jpg" alt="Residential Building" />
							</a>
							<h3 class="mt-10">Residential Homes</h3
							<p>We're proud to have broken into the residential market, making Rocket Elevators one of the most versatile companies on the market.  Second to none.</p>
							<a href="residential" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="assets/images/custom/AdobeStock_179073967.jpeg" alt="Commercial Building" />
							<h3 class="mt-10">Corporate Buildings</h3>
							<p>Having been in business for longer than elevators existed, we're proud at our competence and professionalism.  See why we should be your first choice in your next project.</p>
							<a href="commercial" class="btn btn-default">READ MORE</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/custom/AdobeStock_78149317.jpeg');">
				<div class="overlay dark-7"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Rocket Elevators, in business since 1976</h2>
						<a class="btn btn-default btn-lg get-quote" href="quote">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-warning myBlue btn-lg" href="#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Portfolio</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
						  <li data-filter="all" class="filter active"><a href="#">All</a></li>
						  <li data-filter="awards" class="filter">
							 <a href="#">Awards</a>
						  </li>
						  <li data-filter="residential" class="filter">
							 <a href="#">Residential</a>
						  </li>
						  <li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
						</ul>
					 </div>
				  </div>

				  <!-- AWARDS / RESIDENT / CORPORATE -->
				
				  <div id="portfolio" class="portfolio-nogutter">
					 <div class="row mix-grid">
						<div class="col-md-3 col-sm-3 mix corporate">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/corporate1.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>
				
								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/corporate1.jpg"
								  width="600"
								  height="399"
								  alt="Corporate Building"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Mosaic Phosphate Plant</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Corporate</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix awards">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/award1.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/award1.jpg"
								  width="600"
								  height="399"
								  alt="Award Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Most Promising Business</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Award</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->

						<div class="col-md-3 col-sm-3 mix awards">
							<!-- item -->
				 
							<div class="item-box">
							  <figure>
								 <span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">
									  <!-- lightbox -->
									  <a
										 class="ico-rounded lightbox"
										 href="assets/images/new_awards/award3.jpg"
										 data-plugin-options='{"type":"image"}'
									  >
										 <span class="fa fa-plus fs-20"></span>
									  </a>

									</span>
								 </span>
				 
								 <img
									class="img-fluid"
									src="assets/images/new_awards/award3.jpg"
									width="600"
									height="399"
									alt="Award Img"
								 />
							  </figure>
				 
							  <div class="item-box-desc">
								 <h3>Project of the Year</h3>
								 <ul class="list-inline categories m-0">
									<li><a href="#">Award</a></li>
								 </ul>
							  </div>
							</div>
						 </div>
				
						<div class="col-md-3 col-sm-3 mix residential">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/residential2.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/residential2.jpg"
								  width="600"
								  height="399"
								  alt="Residential Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Patel's Residence</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Residential</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix corporate">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/corporate2.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/corporate2.jpg"
								  width="600"
								  height="399"
								  alt="Corporate Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Blue Building Project</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Corporate</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix corporate">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/corporate3.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/corporate3.jpg"
								  width="600"
								  height="399"
								  alt="Corporate Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Downtown Ritz Project</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Corporate</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix residential">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/residential3.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/residential3.jpg"
								  width="600"
								  height="399"
								  alt="Residential img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Shaw's Residence</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Residential</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix corporate">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/corporate4.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/corporate4.jpg"
								  width="600"
								  height="399"
								  alt="Corporate Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>City's Bank Project</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Corporate</a></li>
								</ul>
							 </div>
						  </div>
						</div>
						<!-- /item -->
				
						<div class="col-md-3 col-sm-3 mix corporate">
						  <!-- item -->
				
						  <div class="item-box">
							 <figure>
								<span class="item-hover">
								  <span class="overlay dark-5"></span>
								  <span class="inner">
									 <!-- lightbox -->
									 <a
										class="ico-rounded lightbox"
										href="assets/images/new_awards/corporate5.jpg"
										data-plugin-options='{"type":"image"}'
									 >
										<span class="fa fa-plus fs-20"></span>
									 </a>

								  </span>
								</span>
				
								<img
								  class="img-fluid"
								  src="assets/images/new_awards/corporate5.jpg"
								  width="600"
								  height="399"
								  alt="Corporate Img"
								/>
							 </figure>
				
							 <div class="item-box-desc">
								<h3>Cross X Project</h3>
								<ul class="list-inline categories m-0">
								  <li><a href="#">Corporate</a></li>
								</ul>
							 </div>
						  </div>
						</div>

						<div class="col-md-3 col-sm-3 mix awards">
							<!-- item -->
				 
							<div class="item-box">
							  <figure>
								 <span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">
									  <!-- lightbox -->
									  <a
										 class="ico-rounded lightbox"
										 href="assets/images/new_awards/award2.jpg"
										 data-plugin-options='{"type":"image"}'
									  >
										 <span class="fa fa-plus fs-20"></span>
									  </a>

									</span>
								 </span>
				 
								 <img
									class="img-fluid"
									src="assets/images/new_awards/award2.jpg"
									width="600"
									height="399"
									alt="Award Img"
								 />
							  </figure>
				 
							  <div class="item-box-desc">
								 <h3>Best Contractor Nominee</h3>
								 <ul class="list-inline categories m-0">
									<li><a href="#">Award</a></li>
								 </ul>
							  </div>
							</div>
						 </div>

						 

						 <div class="col-md-3 col-sm-3 mix awards">
							<!-- item -->
				 
							<div class="item-box">
							  <figure>
								 <span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">
									  <!-- lightbox -->
									  <a
										 class="ico-rounded lightbox"
										 href="assets/images/new_awards/award4.jpg"
										 data-plugin-options='{"type":"image"}'
									  >
										 <span class="fa fa-plus fs-20"></span>
									  </a>

									</span>
								 </span>
				 
								 <img
									class="img-fluid"
									src="assets/images/new_awards/award4.jpg"
									width="600"
									height="399"
									alt="Award Img"
								 />
							  </figure>
				 
							  <div class="item-box-desc">
								 <h3>Avalon Manor Banquet</h3>
								 <ul class="list-inline categories m-0">
									<li><a href="#">Award</a></li>
								 </ul>
							  </div>
							</div>
						 </div>

						 <div class="col-md-3 col-sm-3 mix residential">
							<!-- item -->
				 
							<div class="item-box">
							  <figure>
								 <span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">
									  <!-- lightbox -->
									  <a
										 class="ico-rounded lightbox"
										 href="assets/images/new_awards/residential1.jpg"
										 data-plugin-options='{"type":"image"}'
									  >
										 <span class="fa fa-plus fs-20"></span>
									  </a>

									</span>
								 </span>
				 
								 <img
									class="img-fluid"
									src="assets/images/new_awards/residential1.jpg"
									width="600"
									height="399"
									alt="Residential Img"
								 />
							  </figure>
				 
							  <div class="item-box-desc">
								 <h3>Pleus' Residence</h3>
								 <ul class="list-inline categories m-0">
									<li><a href="#">Residential</a></li>
								 </ul>
							  </div>
							</div>
						 </div>
						<!-- /item -->
					 </div>


				</div>
				
			




			<!-- Awards -->
			
			<!-- /Awards -->

			<!-- Employees -->
			<section id="team" class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="CEO" class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/custom/CEO.jpg"  alt="CEO" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">"We're not only elevatating our team, but the world..."</p>
								<cite>
									Patrick Thibault
									<span>Rocket Elevators, CEO</span>
								</cite>
							</div>
						</div>
						<div id="employee" class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/custom/employee-of-the-month.jpg" alt="Employee of the Month" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">"How do you do that?"</p>
								<cite>
									Timothy J. Wever
									<span>Rocket Elevators, Employee of the Month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Employees -->

		</section>
		<!-- /PORTFOLIO -->



			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/elevatorworld1.jpg" alt="Elevator World News">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">Supertall plan involves madison square garden relocation</a></h4>
							<p class="text-left">The New York City Council agreed during a meeting earlier this month to move forward with Garden City, a massive plan to relocate Madison Square Garden between two new supertalls of unspecified height in Midtown Manhattan, New York YIMBY reports.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									2nd Feb 2019
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/elevatortoday1.jpeg" alt="Elevator Today News">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">ThyssenKrupp sells Elevator Tech for $20.9 billion</a></h4>
							<p class="text-left">ThyssenKrupp sells its Elevator Technology business entirely to a consortium led by Advent, Cinven and RAG foundation. The respective Executive Board decision was approved on Thursday evening by the Supervisory Board of ThyssenKrupp AG. The purchase agreement has been signed.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/schindler.jpeg" alt="Schindler News">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">Crucial Info about new Tech</a></h4>
							<p class="text-left">Mark will detail how you can control the flow while safely managing lobby and elevator space; explain new methods for dispatching and cleaning air and surfaces in elevators and escalators; and detail RFI technologies being employed for touchless operations.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									5th April 2015
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/hitachi.jpg" alt="Hitachi News">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">Developes IoT Platform, Required as New Normal</a></h4>
							<p class="text-left">			Hitachi announced that it has developed an IoT platform that brings to buildings the high added value required for the new normal, including high efficiency of building management and improved comfort for building users.
							</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									20th December 2020
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/otis.jpeg" alt="Otis news">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">2017 to see demand for high speed elevators</a></h4>
							<p class="text-left">Third-party analysts forecast that the construction industry is expected to grow by 6-7 percent, in line with the GDP. While we expect the real estate industry may face higher vacancy levels, we expect for it to ease up in the near future. </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									1st Jan 2017
								</li>
								
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.elevatorworld.com/news/" target="blank">
								<img class="img-fluid" src="assets/images/news/smartelevator.jpg" alt="Smart Elevators">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.elevatorworld.com/news/">$31.6 Billion worldwide Smart Elevator Industry</a></h4>
							<p class="text-left">The global smart elevator market is expected to decline in 2020 due to the global economic recession led by COVID-19. However market will witness recovery in the year 2021 and it is expected to reach an estimated $31.6 billion by 2025 with a CAGR of 14%-16% from 2020 to 2025. 
							</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
								
							</ul>
						</div>
						
					</div>

				</div>
			</section>
			<!-- /News -->


			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/bcrLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/dunderLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/fastLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/legitLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/massiveLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/orlandoLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/umbrellaLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/wayneLogo.png" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/dunderLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/fastLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/bcrLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="https://www.google.com" target="blank">
								<img class="img-fluid" src="assets/images/client_logos/massiveLogo.jpg" alt="client" />
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->

			<!-- CONTACT -->
			<%- include('templates/contact.ejs') %>
			<!-- /CONTACT -->




			<!-- FOOTER -->
			<%- include('templates/footer.ejs') %>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		<script>
			function sendMes() {
				alert("Message Sent!");
			}
		</script>

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>

		<!-- 
			GMAP.JS 
			http://hpneo.github.io/gmaps/
		-->
		<!-- <script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script> -->
		<script src="assets/plugins/gmaps.js"></script>
		<!-- <script>

			jQuery(document).ready(function(){

				var map2 = new GMaps({
					div: '#map2',
					lat: -12.043333,
					lng: -77.028333,
					scrollwheel: false
				});

				var marker = map2.addMarker({
					lat: -12.043333,
					lng: -77.028333,
					title: 'Rocket Elevators, Inc.'
				});

			});

		</script> -->
	</body>
</html>