<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Elevate Safety, Speed and Style</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<!-- TIM'S CUSTOM LAYOUT -->
		<link rel="stylesheet" href="assets/css/custom.css">
	</head>

	
	<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
						<p>At Rocket Elevators, we pave the way to a brighter future today, and tomorrow.  We're always striving for perfecting through elevation, and innovation.</p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="https://www.elevatorworld.com/news/" target="blank"><i class="fa fa-angle-right"></i> Elevator Today</a></li>
							<li><a href="https://www.elevatorworld.com/news/" target="blank"><i class="fa fa-angle-right"></i> Schindler Elevator </a></li>
							<li><a href="https://www.elevatorworld.com/news/" target="blank"><i class="fa fa-angle-right"></i> Hitachi</a></li>
							<li><a href="https://www.elevatorworld.com/news/" target="blank"><i class="fa fa-angle-right"></i> Otis India</a></li>
							<li><a href="https://www.elevatorworld.com/news/" target="blank"><i class="fa fa-angle-right"></i> Other exciting news about elevators</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 4468 Rue Wellington, Verdun, <br /> Quebec, H4G 1W5 Canada</li>
							<li><b>Phone:</b> 581-701-0303</li>
							<li><b>Email:</b> <a href="mailto:info@codeboxx.biz">rocket@elevators.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="index">
							<img src="/assets/images/custom/R2.png" alt="Rocket Elevators Logo" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a id="home-nav" href="/">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a id="services-nav" href="/#services">
											SERVICES
										</a>
									</li>
									<li><!-- WORK -->
										<a id="portfolio-nav" href="/#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="/#news">
											NEWS
										</a>
									</li>
									<!-- <li>OVERVIEW
										<a href="#overview">
											OVERVIEW
										</a> -->
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="/#clients">
											CLIENTS
										</a>
									</li>
									<!-- <li>BLOG
										<a class="external" href="blog-default-aside-left.html">
											BLOG
										</a> -->
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="/#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

<!-- FORM -->
<div class="my-quote-form col-md-8 col-sm-8" style="margin: auto">

   <h2 style="text-align: center; padding: 50px">To request a quote, fill out the form below to request a quote, or just say <strong><em>Hello!</em></strong></h3>

   
   

   <!-- Alert Success -->
   <div id="alert_success" class="alert alert-success mb-30">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Thank You!</strong> Your message successfully sent!
   </div><!-- /Alert Success -->


   <!-- Alert Failed -->
   <div id="alert_failed" class="alert alert-danger mb-30">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>[SMTP] Error!</strong> Internal server error!
   </div><!-- /Alert Failed -->


   <!-- Alert Mandatory -->
   <div id="alert_mandatory" class="alert alert-danger mb-30">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
   </div><!-- /Alert Mandatory -->

	<!-- php/contact.php taken out of the <form action="" -->
   <form id="quotePage" action="" method="post" enctype="multipart/form-data">
      <fieldset>
         <input type="hidden" name="action" value="contact_send" />

         <h3>
            Please select what type of project you're working on:
         </h3>

         <div id= "building-type" class="radio-section">
            <label class="radio">
               <input type="radio" name="project" value="res" onClick=projectType() onfocus="resReset()" id="residential">
               <i></i> Residential
            </label>

            <label class="radio">
               <input type="radio" name="project" value="com" onClick="projectType()" onfocus="comReset()" id="commercial">
               <i></i> Commercial
            </label>

            <label class="radio">
               <input type="radio" name="project" value="cor" onClick="projectType()" onfocus="corpReset()" id="corporate">
               <i></i> Corporate
            </label>

            <label class="radio">
               <input type="radio" name="project" value="hyb" onClick="projectType()" onfocus="hybReset()" id="hybrid">
               <i></i> Hybrid
            </label>
			</div>

			<div id="number-of-apartments" class="row apartments">
				<div class="col-md-4">
					<label for="apartments">How many aprtments are in the building? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="apartments">
				</div>               
			</div>

			<div id="number-of-companies" class="row distinct-buildings">
				<div class="col-md-4">
					<label for="distinct-buildings">What is the number of distinct buildings *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="distinct-buildings">
				</div>               
			</div>

			<div id="number-of-corporations" class="row tenant">
				<div class="col-md-4">
					<label for="tenant">Number of seperate tenant companies *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="tenant">
				</div>
			</div>

			<div id="maximum-occupancy" class="row occupants">
				<div class="col-md-4">
					<label for="occupants">Max number of occupants on floor? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="occupants">
				</div>          
			</div>

			<div id="business-hours" class="row activity">
				<div class="col-md-4">
					<label for="activity">What are the hours of activity? *</label>
					<input  type="number" max="24" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="activity">
				</div>          
			</div>
			
			<div id="number-of-floors" class="row floors">
				<div class="col-md-4">
					<label for="floors">How many floors are in the building? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="floors">
				</div>               
			</div>

			<div id="number-of-basements" class="row basements">
				<div class="col-md-4">
					<label for="basements">How many basements are in the building? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="basements">
				</div>               
			</div>
			
			<div id="number-of-parking-spots" class="row parking">
				<div class="col-md-4">
					<label for="parking">Number of parking spaces available? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="parking">
				</div>          
			</div>

			<div id="number-of-elevators" class="row cages-deployed">
				<div class="col-md-4">
					<label for="cages-deployed">Number of elevator cages deployed? *</label>
					<input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" onkeydown="projectType()" id="cages-deployed">
				</div>          
			</div>
		</form>
			
			<form id="userOutput">
			<div id="elevator-amount" class="row">
				<div class="col-md-4">
					<h3>
						Estimated number of lift cages: <input  type="number" value="0" class="form-control" name="proj_properties" oninput="projectType()" id="lift-cages" readonly>
					</h3>
				</div>
			</div>

			<div class="radio-section">
            <label class="radio">
               <input type="radio" name="pricerange" value="standard" onclick="projectType()" id="standard">
               <i></i> Standard
            </label>

            <label class="radio">
               <input type="radio" name="pricerange" value="premium" onclick="projectType()" id="premium">
               <i></i> Premium
            </label>

            <label class="radio">
               <input type="radio" name="pricerange" value="excelium" onclick="projectType()" id="excelium">
               <i></i> Excelium
            </label>
			</div>

			<!-- ESTIMATIONS -->

			<div id="elevator-unit-price" class="row">
				<div class="col-md-4">
					<label for="elevator-unit-price">Cost of elevator-unit-price:<label>
					<input required type="text" value="" class="form-control" name="" id="each-elevator-price" oninput="projectType()" readonly>
				</div>          
			</div>

			<div id="elevator-total-price" class="row">
				<div class="col-md-4">
					<label for="elevator-amount">Total cost of elevators:</label>
					<input required type="text" value="" class="form-control" name="" id="elevator-total" oninput="projectType()" readonly>
				</div>
			</div>

			<div id="installation-fees" class="row">
				<div class="col-md-4">
					<label for="installation-fees">Installation fees:</label>
					<input required type="text" value="" class="form-control" name="" id="install-fees" oninput="projectType()" readonly>
				</div>          
			</div>

			<div id="final-price" class="row">
				<div class="col-md-4">
					<label for="final-price">Total Price of your quote:<label>
					<input required type="text" value="" class="form-control" name="" id="total-price" oninput="projectType()" readonly>
				</div>          
			</div>
      </form>  
      </fieldset>

</div>
<!-- /FORM -->

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY ROCKET ELEVATORS?</h3>

							<!-- Small Description -->
							<p>
								At Rocket Elevators, we pave the way to a brighter future today, and tomorrow.  We're always striving for perfecting through elevation, and innovation.
							</p>
							<h2>581-701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success btn-warning myRed" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script src="assets/js/quote.js"></script>
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>

		<!-- 
			GMAP.JS 
			http://hpneo.github.io/gmaps/
		-->
		<!-- <script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script> -->
		<script src="assets/plugins/gmaps.js"></script>
		<!-- <script>

			jQuery(document).ready(function(){

				/**
					@BASIC GOOGLE MAP
				**/
				var map2 = new GMaps({
					div: '#map2',
					lat: -12.043333,
					lng: -77.028333,
					scrollwheel: false
				});

				var marker = map2.addMarker({
					lat: -12.043333,
					lng: -77.028333,
					title: 'Rocket Elevators, Inc.'
				});

			});

		</script> -->
	</body>
</html>